@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 10rem;
    align-items: center;
}

.cor__fundo {
    background-color: #2973D3;
}

.meu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulos {
    color: #2973D3;
}

.fa-paper-plane {
    margin: 0.5rem;
}

.pointer {
    cursor: pointer;
}

.meu__link {
    font-weight: 900;
    text-transform: uppercase;
}
